<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
    <title>跨区联络线</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body style="height:98%;overflow: hidden;">
    <noscript>
        <strong>We're sorry but appexplore doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>
<script type="text/javascript" src="<%= BASE_URL %>static/lib/jquery.min.js"></script>
<script type="text/javascript" src="<%= BASE_URL %>static/card/layui/layui-v2.4.3/layui.js"></script>
<script type="text/javascript" src="<%= BASE_URL %>static/card/ruoBase.js"></script>
<script type="text/javascript" src="<%= BASE_URL %>static/card/renderCard.js"></script>

<!-- 增加了调控云卡片服务 -->

</html>